# Folders to ignore
**/.gradle/
**/.idea/
**/build/
ptb-runtime/
reports/

# Files to ignore
**/*.ipr
**/*.iws
**/*.dat
**/*.DAT
**/*.idx
**/*.IDX
**/*.orig
**/.gradletasknamecache
**/global.lock
**/dependencies.lock
*.pyc